<table>
  <tr>
    <th><%=@menu.title %></th>
  </tr>
  <% @menu.menu_meals.each do |menu_meal| %>
    <tr>
      <td><%= link_to menu_meal.meal.title %></td>
      <td><%= link_to "edit", edit_menu_meal_path(menu_meal) %></td>
      <td><%= button_to 'delete', menu_meal_path(menu_meal), 
        method: :delete,
        form: {data: {turbo_confirm: 'are you sure?'}} %></td>
    </tr>
  <% end %>
</table>


<p><%= link_to "add new meal", new_menu_meal_path %></p>

<p>
  <%= link_to "edit", edit_menu_path(@menu) %> |
  <%= link_to "view all", menus_path %> |
  <%= button_to 'delete', menu_path(@menu), 
    method: :delete,
    form: {data: {turbo_confirm: 'Are you sure?'}} %> 
</p>