%h1
  = @meal.title
%h1
  = @meal.price_init
%div= sanitize markdown(@meal.description)
%div= image_tag @meal.cover_image_url.to_s

%p
  = link_to "edit", edit_meal_path(@meal)
  |
  \#{link_to "view All", meals_path} |
  
  \#{button_to 'delete', meal_path(@meal),  method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}}
