= paginate @categories, remote: true
%table
  %tr
    %th categories
  - @categories.each do |category|
    %tr
      %td= link_to category.title, category
      %td= link_to "edit", edit_category_path(category)
      %td= button_to 'delete', category_path(category),   |
          method: :delete,                               |
          form: {data: {turbo_confirm: 'are you sure?'}} |
%p= link_to "create new category", new_category_path
