<% "Category" %>
<h1><%=@category.title %> </h1>

<ol>
<% for meal in @category.meals %>
  <li>
    <%=h meal.title %>
  </li>
<% end %>
</ol>

<p>
  <%= link_to "edit", edit_category_path(@category) %> |
  <%= link_to "view all", categories_path %> |
  <%= button_to 'delete', category_path(@category), 
    method: :delete,
    form: {data: {turbo_confirm: 'Are you sure?'}} %> 
</p>