= paginate @menu_meals, remote: true
%table
  %tr
    %th menu items
  - @menu_meals.each do |menu_meal|
    %tr
      %td
        = link_to menu_meal.menu.title, menu_meal
      %td
        = link_to menu_meal.menu.date, menu_meal
        |
      %td
        = link_to menu_meal.meal.title, menu_meal
        |
      %td
        = link_to menu_meal.price, menu_meal
        |
      %td
        = link_to "show", menu_meal
        |
      %td
        = link_to "edit", edit_menu_meal_path(menu_meal)
        |
      %td= button_to 'delete', menu_meal,                     |
          method: :delete,                                   |
          form: { data: { turbo_confirm: 'Are you sure?' } } |
%p= link_to "create new menu_meal", new_menu_meal_path
