!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MenuApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .container-fluid
      %nav.navbar.navbar-expand-sm.navbar-light.bg-light
        .container
          %a.navbar-brand{:href => "/"} Lets eat
          %button.navbar-toggler.d-lg-none{"aria-controls" => "collapsibleNavId", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#collapsibleNavId", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #collapsibleNavId.collapse.navbar-collapse
            %ul.navbar-nav.me-auto.mt-2.mt-lg-0
              %li.nav-item= link_to ' Meals ', meals_path, class: "nav-link"
              %li.nav-item= link_to ' Categories ', categories_path, class: "nav-link"
              %li.nav-item= link_to ' Menus ', menus_path, class: "nav-link"
              %div
                - if current_user.present?
                  = "@#{current_user.nickname}"
                  %li.nav-item= button_to 'Logout', session_path, method: :delete, class: "nav-link"
                - else
                  %li.nav-item= link_to ' New User ', new_user_path, class: "nav-link"
                  %li.nav-item= link_to ' Login ', new_session_path, class: "nav-link"
      - if flash[:notice]
        .alert.alert-info= flash[:notice]
      - if flash[:alert]
        .alert.alert-info= flash[:alert]
      = yield
